<div class="row">
    <div class="col-3" style="background-color: black; color: white" id="menu_trai">
        <p style="text-align: right">
            <a href="#">
                <i class='fas fa-list-alt' style="font-size: 40px"></i>
            </a>
        </p>
        <p style="text-align: center">
            <img src="assets/Image/logobootstrap.png" style="width: 200px;height:150px">
        </p>
        <a href="#"><i class='fas fa-home'></i>Home</a>

        <a href="#">
            <i class='fas fa-stamp'></i>Employess
        </a>
        <a href="#">
            <i class='fas fa-folder-open'></i>Projects
        </a>
        <a href="#">
            <i class='fas fa-marker'></i>Skill
        </a>
        <a href="#">
            <i class='fas fa-wallet'></i>Interns
        </a>
        <a href="#">
            <i class='fas fa-bookmark'></i>Topics
        </a>
        <a href="#">
            <i class='fas fa-bible'></i>Courses
        </a>
        <a href="#">
            <i class='fas fa-bolt'></i>Topic_Course
        </a>
        <a href="#">
            <i class='fas fa-paste'></i>Classes
        </a>
    </div>
    <div class="col-9">
        <div class="" id="home">
            <a href="#">Home</a>
            <a href="#">/Skill</a>
        </div>
        <div class="row">
            <div class="col-3">
                Show
                <input type="number" value="5" style="width: 50px">
                Entries
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-2"><button class="btn btn-danger xanhdam">Email</button></div>
                    <div class="col-2"><button class="btn btn-danger xanhdam">PDF</button></div>
                    <div class="col-4">
                        <div class="container-1" style="width:50px;">
                            <input type="search" id="search" placeholder="Search..." />
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger xanhdam">
                            <i class="fa fa-plus"></i> Add Employee
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table" id="tablebai4">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Công</td>
                        <td>Ngô</td>
                        <td>NTCONG@TMA.COM.VN</td>
                        <td>
                            <a href=""><i class="fa fa-exclamation-triangle"
                                    style="font-size:20px;color:rgb(8, 1, 12)"></i></a>
                            <a href=""><i class="fa fa-file-text"
                                    style="font-size:20px;color:rgba(120, 0, 233, 0.534)"></i></a>
                            <a href=""><i class="fa fa-trash-o" style="font-size:20px;color:rgb(247, 2, 2)"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Dung</td>
                        <td>Lý</td>
                        <td>dungly@gmail.COM</td>
                        <td>
                            <a href=""><i class="fa fa-exclamation-triangle"
                                    style="font-size:20px;color:rgb(8, 1, 12)"></i></a>
                            <a href=""><i class="fa fa-file-text"
                                    style="font-size:20px;color:rgba(120, 0, 233, 0.534)"></i></a>
                            <a href=""><i class="fa fa-trash-o" style="font-size:20px;color:rgb(247, 2, 2)"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Ngôn</td>
                        <td>Phạm</td>
                        <td>hapham@gmail.COM</td>
                        <td>
                            <a href=""><i class="fa fa-exclamation-triangle"
                                    style="font-size:20px;color:rgb(8, 1, 12)"></i></a>
                            <a href=""><i class="fa fa-file-text"
                                    style="font-size:20px;color:rgba(120, 0, 233, 0.534)"></i></a>
                            <a href=""><i class="fa fa-trash-o" style="font-size:20px;color:rgb(247, 2, 2)"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Hạnh</td>
                        <td>Lê</td>
                        <td>hanhle@gmail.COM</td>
                        <td>
                            <a href=""><i class="fa fa-exclamation-triangle"
                                    style="font-size:20px;color:rgb(8, 1, 12)"></i></a>
                            <a href=""><i class="fa fa-file-text"
                                    style="font-size:20px;color:rgba(120, 0, 233, 0.534)"></i></a>
                            <a href=""><i class="fa fa-trash-o" style="font-size:20px;color:rgb(247, 2, 2)"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Hoàng</td>
                        <td>Nguyễn</td>
                        <td>hoang3x2@gmail.com</td>
                        <td>
                            <a href=""><i class="fa fa-exclamation-triangle"
                                    style="font-size:20px;color:rgb(8, 1, 12)"></i></a>
                            <a href=""><i class="fa fa-file-text"
                                    style="font-size:20px;color:rgba(120, 0, 233, 0.534)"></i></a>
                            <a href=""><i class="fa fa-trash-o" style="font-size:20px;color:rgb(247, 2, 2)"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-9">
                <p>Showing 1 to 5 of Employess</p>
            </div>
            <div class="col-3" style="float: right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">
                                <</a> </li> <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">></a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>