#menu_trai a{
    display: block;
    margin: 12px;
    font-size: 20px
    
}
#menu_trai a i{
    margin: 10px;
}
#tablebai4 a{
    margin: 10px;
}


#home{
margin: 10px;
}
#home a{
    color: red;
}

