
<div class="card border-success mb-3" style="max-width: 100%;border-color: black">
    <div class="card-header bg-transparent border-success ">Leaf Rake</div>
    <div class="card-body text-success">
        <div class="row" style="color: black">
            <div class="col-2">
                    <p class="card-text">Name:</p>
                    <p class="card-text">Code:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Availability:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">5 Star : Rating</p>
            </div>
            <div class="col-4">
                    <p class="card-text">Leaf Rake</p>
                    <p class="card-text">GDN-0011</p>
                    <p class="card-text">Leaf rake with 48-inch wooden handle.</p>
                    <p class="card-text">March 19,2010</p>
                    <p class="card-text">$19.95</p>
                    <p class="card-text">3.2</p>
            </div>
            <div class="col-5">
                    <img  src="assets/Image/8.jpg" width="100%" height="200px">
            </div>

        </div>
     


    </div>
    <div class="card-footer bg-transparent border-success">
                <a href="#"><i class='fas fa-arrow-left' ></i></a>
                Back</div>
  </div>